aiohttp==3.7.4; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
chardet==3.0.4; python_version >= "3.6"
idna==3.1; python_version >= "3.6"
multidict==5.1.0; python_version >= "3.6"
python-dateutil==2.8.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
typing-extensions==3.7.4.3; python_version < "3.8" and python_version >= "3.6"
yarl==1.6.3; python_version >= "3.6"
